name: Github Actions Example

on:
  pull_request:
  push:
    branches: 
      - master
      - develop

jobs:
  test:
    name: Running Units Tests
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: Install
      run: yarn install
    - name: Test
      run: yarn test
      
    # Install Surge
    - name: Install Surge
      run: npm install --global surge
    
    # Deploy Surge
    - name: Deploy React App to Surge
      run: surge ./build project001-mohsin.surge.sh --token ${{ secrets.SURGE_TOKEN }}
